@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --font-barlow: var(--font-barlow);
  --font-instrument: var(--font-instrument);

  --color-flint-offwhite: #f8f8f8;
  --color-flint-dark: #171717;

  --radius-flint: 2px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), sans-serif;
}